<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mappers.adminMapper">

	<!-- 카테고리 호출 -->
	<select id="category" resultType="com.shop.domain.CategoryVO">
	WITH recursive cte AS (
	SELECT cateName, cateCode, cateCodeRef, 1 AS level
	FROM goods_category
	WHERE cateCodeRef IS null
	UNION all
	SELECT p.cateName, p.cateCode, p.cateCodeRef, 1 + LEVEL AS level
	FROM goods_category p
	INNER JOIN cte
	ON p.cateCodeRef = cte.cateCode
	)
	SELECT cateName, cateCode, cateCodeRef, LEVEL FROM cte;
	</select>
	
	<!-- 상품 등록 -->
	<insert id="register">
	insert into tbl_goods (gdsNum, gdsName, cateCode, gdsPrice, gdsStock,gdsDes)
	values (NEXTVAL(tbl_goods_seq), #{gdsName}, #{cateCode},#{gdsPrice}, #{gdsStock}, #{gdsDes})
	</insert>
	
	<!-- 상품 목록 -->
	<select id="goodslist" resultType="com.shop.domain.GoodsVO">
	select * from tbl_goods order by gdsNum desc
	</select>
	
	<!-- 상품 조회 -->
	<!--
	<select id="goodsView" resultType="com.shop.domain.GoodsVO">
	select * from tbl_goods where gdsNum = #{gdsNum}
	</select>
	-->
	
	<!-- 상품 조회 + 카테고리 조인 -->
	<select id="goodsView" resultType="com.shop.domain.GoodsViewVO">
	select g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate
    from tbl_goods g inner join goods_category c on g.cateCode = c.cateCode          
    where g.gdsNum = #{gdsNum}
	</select>
	
	<!-- 상품 수정 -->
	<update id="goodsModify" parameterType="com.shop.domain.GoodsVO">
	update tbl_goods set
    gdsName = #{gdsName},
    cateCode = #{cateCode},
    gdsPrice = #{gdsPrice},
    gdsStock = #{gdsStock},
    gdsDes = #{gdsDes}
    where gdsNum = ${gdsNum}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="goodsDelete" parameterType="com.shop.domain.GoodsVO">
	delete from tbl_goods where gdsNum = #{gdsNum}
	</delete>
	
</mapper>